:root {
  --bg: #ffffff;
  --text: #000000;
  --card: #ffffff;
  --border: #ddd;
  --table-header: #f2f2f2;
  --progress-bg: #eee;
  --progress-fill: #4caf50;
  --input-bg: #ffffff;
  --input-border: #ccc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #555555;
    --text: #f0f0f0;
    --card: #3b3b3b;
    --border: #333;
    --table-header: #2c2c2c;
    --progress-bg: #333;
    --progress-fill: #00ffd5;
    --input-bg: #666565;
    --input-border: #555;
  }
}

body {
  font-family: sans-serif;
  background: var(--bg);
  color: var(--text);
  padding: 20px;
}

.container {
  max-width: 1000px;
  margin: auto;
  background: var(--card);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid var(--border);
  padding: 8px;
  text-align: center;
}

th {
  background-color: var(--table-header);
}

.progress-bar {
  background: var(--progress-bg);
  width: 100%;
  height: 20px;
  border-radius: 5px;
  margin: 10px 0;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: var(--progress-fill);
  width: 0%;
  transition: width 0.3s;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
    font-size: 0.95rem;
  }

  .container {
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
  }

  h1 {
    font-size: 1.6rem;
    text-align: center;
  }

  .summary p {
    font-size: 0.95rem;
    margin: 8px 0;
  }

  .progress-bar {
    height: 16px;
  }

  table, thead, tbody, th, td, tr {
    display: block;
    width: 100%;
  }

  thead {
    display: none;
  }

  tr {
    background: var(--card);
  margin: 15px auto;
  padding-bottom: 12px;
  border-radius: 20px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  max-width: 100%; /* ou 100% se quiser ocupar tudo */
  width: 100%;
  }

  td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    border-bottom: 1px solid var(--border);
    position: relative;
  }

  td:last-child {
    border-bottom: none;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    flex: 1;
    text-align: left;
    margin-right: 10px;
  }

  td > *:not(:first-child) {
    flex: 1;
    text-align: right;
  }

  input[type="number"] {
   
    padding: 5px 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--input-border);
    background: var(--input-bg);
    color: var(--text);
    box-sizing: border-box;
  }
}

